@model Shooping.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<flash dismissable="true" />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card bg-primary mb-3" style="width: 450px; height: 450px">
            <h3 class="card-header text-center text-white"><i class="fa-solid fa-key"></i> Resetea tu Contraseña</h3>
            <div class="card-body bg-light">
                <form method="post">
                    <div asp-validation-summary="All"></div>
                    <input type="hidden" asp-for="Token" />

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                    </div>

                    <div class="form-group mt-2">
                        <button input type="submit" value="Resetear Contraseña" class="btn btn-primary btn-block"><i class="fa-solid fa-user-lock"></i> Resetear Contraseña</button>
                    </div>
                </form>
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

